<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="public/css/style.css">

</head>
<body>

    <div class="container">

        <nav>
            <a href="?pagina=home">Home</a>
            <a href="?pagina=clientes">Clientes</a>
            <a href="?pagina=produtos">Produtos</a>
        </nav>

        <div class="conteudo">
            
            {{area_dinamica}}

        </div>

    </div>
    
</body>
</html>