
<section>
    <h1>Novo Produto</h1>

    <!-- Formulário para criar um novo produto -->
    <form action="?pagina=produtos&metodo=salvarNovo" method="post">
        <label for="nome">Nome do Produto:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4" required></textarea>
        <br>
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" required>
        <br><br>
        <button type="submit">Salvar</button>
    </form>
</section>

